<app-nav-bar></app-nav-bar>
<div class="content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="side-left col-xs-12 col-sm-3 ">
          <h5>Your searches:</h5>
          <div class="search-tags" *ngFor="let search of searches; let i=index">
            <a *ngIf="i<10" (click)="searchThis(search)">#{{search}} </a> <span (click)="remove(search)" class="glyphicon glyphicon-remove"></span>
          </div><!-- search-tags -->
      </div><!-- side-left col-xs-12 col-sm-2 -->
      <div class="search-video-cont col-xs-12 col-sm-8 ">
        <div class="search">
          <h3>search one hashtag</h3>
          <div class="searchfield">
            <input id="search_tags" placeholder="#ironhack" type="text" [(ngModel)]="searchTags" (keyup.enter)="search()" (keyup.space)="search()">
                <button class="search-btn" id="search-button" (click)="search()">Search</button>
        </div><!-- search -->
        <md-radio-group [(ngModel)]="searchType">
          <md-radio-button class="radiobuttons" value="popular">Popular</md-radio-button>
          <md-radio-button class="radiobuttons" value="trending">Trending</md-radio-button>
        </md-radio-group>
      </div>
        <!-- YOUTUBE START -->
        <div *ngIf=!hidden>
          <div class="yt-wrapper">
            <div *ngIf="!isLoadingYt">
              <p>
                loading
              </p>
            </div>
            <div *ngIf="isLoadingYt">
              <app-youtube [video]=videoId (onFavorite)="next1($event)" [showButtons]=true></app-youtube>
            </div><!-- ngif isLoading -->
          </div><!-- yt-wrapper -->
          <!-- YOUTUBE END -->
          <!-- TWITTER START  -->
          <div class="tweet-wrapper">
            <div *ngIf="!isLoadingTweet">
              <p>
                loading
              </p>
            </div>
            <div *ngIf="isLoadingTweet">
              <app-tweet [tweet]=tweet (onFavorite)="next1($event)" [showButtons]=true></app-tweet>
            </div>
          </div><!-- tweet-wrapper -->
          <!-- TWITTER END  -->
          <!-- REDDIT START -->
          <div class="reddit-wrapper">
            <div *ngIf="!isLoadingReddit">
              <p>
                loading
              </p>
            </div>
            <div *ngIf="isLoadingReddit">
              <app-reddit [reddit]=reddit (onFavorite)="next1($event)" [showButtons]=true></app-reddit>
            </div>
          </div><!-- reddit-wrapper -->
          <!-- REDDIT END -->
          <!-- TUMBLR START -->
          <div class="tumblr-wrapper">
            <div *ngIf="!isLoadingTumblr">
              <p>
                loading
              </p>
            </div>
            <div *ngIf="isLoadingTumblr">
              <app-tumblr [tumblr]=tumblr (onFavorite)="next1($event)" [showButtons]=true></app-tumblr>
            </div><!-- isloadingTumblr -->
          </div><!-- tumblr-wrapper -->
          <!-- TUMBLR END -->
        </div><!-- *ngIf hidden -->
      </div><!-- col-xs-12 col-md-10 -->
      <!-- END middle section, search and video content starts here -->
      <!-- RIGHT SIDEBAR -->
      <div class="col-xs-12 col-sm-3">
        <div class="popular-tags">
          <h5>Trending tags:</h5>


          <div class="tag-control">
            <span class="glyphicon glyphicon-triangle-left" (click)="slide(tagCounter, minus)"></span>
            <span class="glyphicon glyphicon-triangle-right" (click)="slide(tagCounter, plus)"></span>
          </div>
          <div class="trending-tags" *ngFor="let tag of tags | tag:tagCounter.currentMin:tagCounter.currentMax; let i=index">
            <a (click)="searchThis(tag.name.substring(1))">{{tag.name}}</a>
          </div>
        </div><!-- popular-tag -->
        <div class="popular-tags">
          <h5>Most popular tags:</h5>

          <div class="tag-control">
            <span class="glyphicon glyphicon-triangle-left" (click)="slide(popularCounter, minus)"></span>
            <span class="glyphicon glyphicon-triangle-right" (click)="slide(popularCounter, plus)"></span>
          </div>
          <!-- trending-tags  -->
          <div class="trending-tags" *ngFor="let pop of popular | tag:popularCounter.currentMin:popularCounter.currentMax; let i=index">
            <a (click)="searchThis(pop.substring(1))">{{pop}}</a>

          </div>

        </div><!-- popular-tags -->
      </div><!-- col-xs-12 col-sm-2 -->
      <!-- END RIGHT SIDEBAR -->
    </div><!-- row -->
  </div><!-- container -->
</div><!-- content-wrapper -->
