<div class="content-wrapper">
  <div class="container">
    <div class="row">
      <div class="side-left col-xs-6 col-sm-2 ">
      </div><!-- col-xs-12 col-md-10 -->
      <div class="search-video-cont col-xs-12 col-sm-8 ">
             <div class="search">
               <label for="search_tags"> search for any hashtag! </label>
               <input id="search_tags" placeholder="search tags" type="text" [(ngModel)]="searchTags">
                <button id="search-button" (click)="search()">Search</button>
             </div><!-- search -->
          <div *ngIf=!hidden>
            <div class="yt-wrapper">
                <!-- video frame -->
                   <div class="yt">
                     <iframe [src]="'https://www.youtube.com/embed/' + videoId | safe"  width="560" height="315" allowfullscreen></iframe>

                   </div>
               </div>
            <!-- video frame -->
         <div class="tw">
           <div *ngIf="!isLoadingTweet">
             <p>
               loading
             </p>
           </div>
           <div *ngIf="isLoadingTweet">
             <app-tweet  [tweet]=tweet></app-tweet>
           </div>


           </div>
           <button (click)="next()">Next!</button>
           </div>
      </div><!-- col-xs-12 col-md-10 -->



      <div class="side-right col-xs-6 col-sm-2 ">
      </div><!-- col-xs-12 col-md-10 -->
    </div><!-- row -->
  </div><!-- container -->
</div><!-- content-wrapper -->
