div{
  font-family: , sans-serif;
}
.container-fluid{
  padding-left:0px;
  padding-right:0px;
}
.content-wrapper{

  width:100vw;

}
.search-video-cont{
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding-top:1vh;
  padding-bottom:1vh;
  margin:0px;
  padding-left: 0px;
  padding-right:0px;

  /*background-color:rgba(255, 0, 0, 0.1);*/
}
.row{
  width:100%;
  margin:0px;
  padding:0px;
}
.search {
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding-left: 5vw;
  padding-right:5vw;

}
input{
  background-color: white;
}
.search-btn{
  width: 100%;
    /*background-color: #4d90fe; */
    background-color: rgb(104, 145, 162);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 16px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
  }
/*search END*/


/*side bar START*/
h5{
  color:black;
  margin-bottom:5px;
}
ul{
  margin-bottom:10px;
}
li{
  margin-bottom: 5px;
}
.side-left{
  padding-left: 10px;
  padding-right:5px;
  /*background-color:rgba(255, 0, 0, 0.2);*/
}
.side-right{
  padding-left: 10px;
  padding-right:5px;
  /*background-color:rgba(200, 110, 0, 0.2);*/
}
/*side bar END*/

/*youtube video*/
.yt-wrapper{
  width:100%;
  height:auto;
  display: flex;
  justify-content: center;
  padding: 10px;
  border: 1px dotted black;
}

iframe{

/*normal size:*/
  width:504px;
  height:283px;
  max-width:100%;
  max-height: 30vh;

  /*max-width:85vw;*/
  /*height:auto;
  width:504px;*/


}
