.edit-button{
  border:0px;
  background-color: #1C2833;
}
.delete-button{
  margin-left: 3px;
  border:0px;
  background-color: #1C2833;
}



.remove-yt{
  color: #1C2833;
  position:relative;
}
.remove-tw{
  color: #1C2833;
  position:relative;
}
.remove-re{
  color: #1C2833;
  position:relative;
}
.remove-tu{
  color: #1C2833;
  position:relative;
}

.main-content{
    margin-top: 100px;
}

.content{

  display:flex;
  justify-content: center;
}
.content-wrapper{
  max-width:800px;

}
/*youtube START*/
.yt-wrapper{
  width:100%;
  height:auto;
  display: flex;
  justify-content: center;
  padding: 10px;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.1) ;
  margin-top:10px;
}
/*youtube END*/

/*TWEET START*/
.tweet-wrapper{
  display:flex;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.1) ;
  padding: 10px;
  margin-top:10px;
}
/*TWEET END*/

/*REDDIT START*/
.reddit-wrapper{
  display:flex;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.1) ;
  padding: 10px;
  margin-top:10px;
}
/*REDDIT END*/

/*TUMBLR START*/
.tumblr-wrapper{
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.1) ;
  padding: 10px;
  margin-top:10px;
  display:flex;
}
/*TUMBLR END*/
