<div class="main-content">
 <h2>Dashboard!!</h2>
 <button (click)="edit()">edit profile</button><button (click)="delete()">delete profile</button>
</div>
<!-- <li *ngFor="let item of generateArray(user)">{{item.key}}: {{item.value}}</li>
{{user}} -->
<div *ngIf="displayEdit">
  <!-- <app-edit [edit-info]="user"></app-edit> -->
</div>

<div *ngIf="favorites.length>0">
  <div *ngFor="let favorite of favoritesData">
    <div *ngIf="favorite.content.source == 'YOUTUBE'">
      <app-youtube [video]=favorite.content.data.video (onFavorite)="next1($event)"></app-youtube>
    </div>

  </div>
</div>
