<app-nav-bar></app-nav-bar>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-3 search-section">
      <h5>Your searches:</h5>
      <div class="search-tags" *ngFor="let search of searches; let i=index">
        <a *ngIf="i<10" (click)="searchThis(search)">#{{search}} </a> <span (click)="removeTag(search)" class="glyphicon glyphicon-remove"></span>
      </div><!-- search-tags -->
    </div><!-- search-section -->
    <div class="col-xs-12 col-sm-8 content">
      <div class="content-wrapper" *ngIf="favorites.length>0">
        <div *ngFor="let favorite of favoritesData; let i = index">
          <div class="youtube-dash">
            <div class="yt-wrapper" *ngIf="favorite.content.source == 'YOUTUBE'">
              <app-youtube [video]=favorite.content.data.video [showButtons]=false></app-youtube>
              <a class="remove-yt" (click)="remove(favorite.content._id, i)"><span  class="glyphicon glyphicon-remove"></span></a>
            </div><!-- yt-wrapper -->
          </div><!-- youtube-dash -->
          <div class="twitter-dash">
            <div class="tweet-wrapper" *ngIf="favorite.content.source == 'TWITTER'">
              <app-tweet [tweet]=favorite.content.data.tweet [showButtons]=false></app-tweet>
              <a class="remove-tw"(click)="remove(favorite.content._id, i)"><span class="glyphicon glyphicon-remove"></span></a>
            </div><!-- tweet-wrapper -->
          </div><!-- twitter-dash -->
          <div class="reddit-dash">
            <div class="reddit-wrapper" *ngIf="favorite.content.source == 'REDDIT'">
              <app-reddit [reddit]=favorite.content.data.reddit [showButtons]=false ></app-reddit>
              <a class="remove-re"(click)="remove(favorite.content._id, i)"><span class="glyphicon glyphicon-remove"></span></a>
            </div><!-- reddit-wrapper -->
          </div><!-- reddit-dash -->
          <div class="tumblr-dash">
            <div class="tumblr-wrapper" *ngIf="favorite.content.source == 'TUMBLR'">
              <app-tumblr [tumblr]=favorite.content.data.tumblr [showButtons]=false></app-tumblr>
              <a class="remove-tu"(click)="remove(favorite.content._id, i)"><span class="glyphicon glyphicon-remove"></span></a>
            </div><!-- tumblr-wrapper -->
          </div><!-- tumblr-dash -->
        </div><!-- *ngFor -->
      </div><!-- content-wrapper *ngIf -->
    </div><!-- content -->
    <div class="col-xs-12 col-sm-3 right-side">
      <button class="edit-button" (click)="edit()">settings</button>
      <div *ngIf="displayEdit">
        <button class="delete-button" (click)="delete()">delete profile</button>
        <md-slide-toggle>Slide me!</md-slide-toggle>
      </div><!-- displayEdit -->
    </div><!-- right-side -->
  </div><!-- row -->
</div><!-- container-fluid -->
