.reddit-pic-wrapper {
  flex: 1;
}
.reddit-info-wrapper {
  display: flex;
  align-items: center;
}
.reddit-title{
  margin-bottom: 3px;
}
.reddit-text{
  flex: 2;
  padding-left: 8px;
}
p {
  font-size: 15px;
  margin-bottom: 1px;
}
h4{
  margin-bottom: 3px;
  font-size: 17px;
  font-weight: 500;
}
a{
  color: #3a7baf;
}
