/*navbar start*/
.navbar{
  width:100vw;
  z-index:2;
  margin:0px;
  background-color: #d27983;
}
ul li span{

  color: white;
}
ul li a{
  font-family: 'Patua One', cursive;
    color: white;
}
#logout-button{
  border:0px;
  background-color: #d27983;
}

.navbar-brand{
  font-family: 'Patua One', cursive;
  color:white;
}
.navbar-header{
  background-color: #d27983;
}
.icon-bar{
  color: white;
}
/*navbar end*/
