/*navbar start*/
.navbar{
  width:100vw;
  z-index:2;
  margin:0px;
  background-color: #28586f;
}
ul li span{
  
  color: white;
}
ul li a{
  font-family: 'Patua One', cursive;
    color: white;
}


.navbar-brand{
  font-family: 'Patua One', cursive;
  color:white;
}
.navbar-header{
  background-color: #28586f;
}
/*navbar end*/
