<div class="background-image"></div><!-- background-image -->
<div class="content-center">
        <div class="content-1">
          <a [routerLink]="['/content']">
            <h1 class="header">Content<strong>Hub</strong></h1></a>
        </div><!-- / content-center -->

    <div class="phone-images">
      <div class="row">
        <div class="col-xs-12 col-sm-5 phone-cont">
          <img class="phone-1" src="../assets/images/iPhone3.png" alt="iPhone">
        </div>
        <div class="col-xs-12 col-sm-7 phone-description">
          <h2 class="description-header">Create and share your Content<strong>Hub</strong></h2>
          <div class="description-wrapper">
            <p class="description-para">Search for content on the most popular platforms, save them with a swipe and share your Content<strong>Hub</strong> with friends.</p>
          </div>
          <div class="signup-box">
            <h4><a [routerLink]="['/signup']">Create an account</a></h4>
            <p> or <a [routerLink]="['/login']">Login</a></p>
          </div>
        </div>
      </div>
    </div><!-- / phone-images -->
</div><!-- / input-group -->
