
<div class="input-group">
      <h1 class="header">What are your interests?</h1>
      <br>
      <div class="tag-editor-wrapper">
        <input autocomplete="off" class="tag-editor js-tag-editor" data-separator=" " id="tl" maxlength="240" name="tl" placeholder="Add up to 10 (e.g. html, c#)" type="text" value="" style="display: none;">
          <div class="tag-editor multi-line" ><span></span>
            <input class="search-container" type="text" tabindex="0" placeholder="Search for interesting tags">
            <span></span>
          </div>
      </div><!-- / tag-editor-wrapper -->
</div><!-- / input-group -->
