.tumblr-wrapper{
  display: flex;
  align-items: center;
}
.content-image{
  max-width:200px;
  flex:1;
  margin-right: 5px;
}
.content-wrapper{
  flex:3;
}
.save-button{
  border:0px;
  background-color: #d27983;
}
.wat-button{
  border:0px;
  background-color: #d27983;
}
.icon-wrapper{
  margin-top:8px;
  display: flex;
  justify-content: space-around;
}
.icon{
  width: 30px;
  height: 30px;
}
